main > article {
    color: #4f4f4f;
    margin: auto;
    padding: 0 2rem;
    max-width: 980px;
}

.alignwide {
    margin: auto -110px;
    max-width: 1200px;
}

.alignfull {
    margin: auto calc(50% - 50vw);
    max-width: 100vw;
    width: 100vw;
}

@media (max-width: 768px) {
    .alignwide {
        margin: auto -2rem;
    }
}

body {
    font-family: 'Work Sans', 'Noto Sans JP', sans-serif;
    line-height: 20px;
    letter-spacing: 2px;
    font-size: 14px;
    color: #4f4f4f;
}

.lipps-content-heading {
    margin: 0 0 25px;
    padding: 0 12px;
    line-height: 46px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-size: 2.6rem;
    color: #969696;
}

.lipps-content-heading.no-uppercase {
		text-transform: none;
	}

.lipps-content-heading-ruby {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

h3.lipps-content-heading {
    margin: 0 0 25px;
    padding: 0 12px;
    line-height: 42px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-size: 2.4rem;
}

.lipps-content-subtitle {
    padding: 0 12px;
    line-height: 35px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #969696;
}

.lipps-container {
    margin: 58px auto;
}

.lipps-container-narrow {
    margin: 25px auto;
}

.lipps-archive-box {
    margin: 0 auto 0;
    max-width: 920px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.lipps-image-item {
    margin: 10px 9px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.lipps-image-item:hover {
         opacity: 0.6;
    }

.lipps-box-link {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lipps-text-link {
    text-decoration: none;
    color: #4f4f4f;
    overflow-wrap: break-word;
}

.lipps-pagination {
    margin: 45px 0;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    text-align: center;
}

.lipps-pagination-link {
         color: #8c8c8c;
         text-decoration: none;
    }

@media (max-width: 900px) {
    .lipps-archive-box {
        max-width: 520px;
    }
}

@media (max-width: 500px) {
    .lipps-container-narrow {
        margin: 25px -1rem;
    }
    .lipps-content-heading {
        font-size: 2.0rem;
    }
}

@media (max-width: 468px) {
    body {
        letter-spacing: 0;
    }
    .lipps-container {
        margin: 28px auto;
    }
}

.button {
    padding-right: 26px;
    padding-left: 26px;
    border: 1px solid #9f916d;
    background-color: transparent;
    color: #9f916d;
}

.button:hover {
    opacity: 0.6;
  }

.button.in-header-link {
    border: 1px solid #4f4f4f;
    color: #4f4f4f;
    padding: 6px 22px;
  }

.button.in-header-link.primary {
      color: #fff;
    }

.navbar {
    background-color: transparent;
}

.header-container {
    max-width: 940px;
}

.brand {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 48px;
    margin-bottom: 33px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.brand-logo {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-pack: center;
         -ms-flex-pack: center;
         justify-content: center;
         -webkit-box-align: center;
         -ms-flex-align: center;
         align-items: center;
         -webkit-box-flex: 1;
         -ms-flex: 1;
         flex: 1;
    }

.brand-logo-sub {
         margin-top: 5px;
         content: '';
         width: 85px;
         height: 85px;
         background-image: url('../images/P+LIPPS_logo.jpg');
         background-repeat: no-repeat;
         background-size: contain;
         position: absolute;
    }

.brand-logo-sub-link {
              position: absolute;
              width: 100%;
              height: 100%;
          }

.brand-image {
         width: 179.5px;
    }

.brand-aside {
         position: absolute;
         left: auto;
         top: 0;
         right: 0;
         bottom: 0;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-align: center;
         -ms-flex-align: center;
         align-items: center;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
         -ms-flex-direction: column;
         flex-direction: column;
    }

.link-icon {
    width: 30px;
    height: 30px;
    background-image: url('../images/example-bg.png');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.link-icon.youtube {
         background-image: url('../images/yt_icon_mono_light.png');
         background-size: 22px;
    }

.link-icon.blog {
         background-image: url('../images/blog.png');
         background-size: 18px;
    }

.link-icon.facebook {
         background-image: url('../images/facebook.png');
         background-size: 20px;
    }

.link-icon.twitter {
         background-image: url('../images/twitter.png');
         background-size: 21px;
    }

.link-icon.instagram {
         background-image: url('../images/instagram.png');
         background-size: 19px;
    }

.header-sns {
    width: 100%;
    margin-top: 6px;
    position: absolute;
    top: 35px;
}

.sns-lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.in-header-list {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         margin-bottom: 0;
         padding-left: 0;
         list-style-type: none;
    }

.in-header-link {
         display: inline-block;
         padding: 4px 20px;
         border: 1px solid #e61517;
         color: #4f4f4f;
         font-size: 11px;
         text-align: center;
         text-decoration: none;
    }

.in-header-link.primary {
              margin-right: 14px;
              background-color: #e61517;
              border-color: #e61517;
              color: #fff;
         }

.nav-wrapper {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
         -ms-flex-direction: column;
         flex-direction: column;
         -webkit-box-align: center;
         -ms-flex-align: center;
         align-items: center;
    }

.nav-menu {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         max-width: 940px;
         -webkit-box-pack: justify;
         -ms-flex-pack: justify;
         justify-content: space-between;
         text-transform: uppercase;

    }

.nav-menu-item {
              padding-right: 25px;
              padding-left: 25px;
              white-space: nowrap;
              color: #000;
         }

.nav-menu a:hover {
               color: #959595;
         }

.nav-aside {
         display: none;
    }

.headerborder-line {
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 12px;
}

.for-mobile {
    display: none;
}

@media (max-width: 960px) {
    .lipps-boy-slider {
        height: 100%;
    }
    .nav-menu-item {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (max-width: 767px) {
    .header-container {
        width: 100%;
    }
        .nav-wrapper {
             -webkit-box-orient: horizontal;
             -webkit-box-direction: reverse;
             -ms-flex-direction: row-reverse;
             flex-direction: row-reverse;
             -webkit-box-align: center;
             -ms-flex-align: center;
             align-items: center;
             padding-bottom: 28px;
        }

        .nav-menu {
             overflow: auto;
             max-height: 100vh;
             padding-bottom: 59px;
             background-color: #fff;
        }

             .nav-menu-item {
                  padding: 14px 18px;
                  -webkit-box-flex: 0;
                  -ms-flex: 0 100%;
                  flex: 0 100%;
                  border-bottom: 1px solid #cfcfcf;
                  font-size: 1rem;
             }

                  .nav-menu-item.last {
                       border-bottom-style: none;
                  }

        .nav-close-wrapper {
             overflow: hidden;
        }

        .nav-lines {
             display: -webkit-box;
             display: -ms-flexbox;
             display: flex;
             width: 30px;
             height: 30px;
             padding-top: 5px;
             padding-bottom: 5px;
             -webkit-box-orient: vertical;
             -webkit-box-direction: normal;
             -ms-flex-direction: column;
             flex-direction: column;
             -ms-flex-pack: distribute;
             justify-content: space-around;
        }

        .nav-line {
             width: 100%;
             height: 2px;
             -webkit-box-orient: vertical;
             -webkit-box-direction: normal;
             -ms-flex-direction: column;
             flex-direction: column;
             -webkit-box-pack: center;
             -ms-flex-pack: center;
             justify-content: center;
             background-color: #000;
         }

         .nav-aside {
             display: block;
         }

    .brand {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: -66px;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

        .brand-image {
             width: 115px;
        }

        .brand-logo {
             display: none;
         }
             .brand-logo-sub {
                  background-image: url('../images/lipps-logo--horizon.png');
                  width: 165px;
                  height: 35px;
                  position: relative;
              }
        .brand-aside {
             position: relative;
             height: 0;
             align-self: flex-end;
        }

             .brand-aside .in-header-list {
                   display: none;
               }

    .menu-button {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

        .menu-button.w--open {
             background-color: transparent;
        }

    .link-2 {
        text-decoration: none;
    }

        .link-2.w--current {
             display: inline-block;
             margin-top: 35px;
             margin-bottom: 35px;
             color: #4f4f4f;
        }

    .list-3 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
        .in-header-list {
             padding-right: 21px;
             padding-left: 21px;
             -webkit-box-orient: vertical;
             -webkit-box-direction: normal;
             -ms-flex-direction: column;
             flex-direction: column;
        }

        .in-header-link {
             width: 100%;
             padding-top: 15px;
             padding-bottom: 15px;
        }

             .in-header-link.primary {
                  margin-right: 0;
                  margin-bottom: 15px;
             }

    .for-mobile {
        display: block;
    }

    .nav-sns {
        margin: 38px 85px;
        padding-right: 21px;
        padding-left: 21px;
    }

    .header-sns {
        position: relative;
        top: 0;
    }
    .sns-lists {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 3px;
    }
}

@media (max-width: 479px) {
    .nav-sns {
        margin: 38px 48px;
    }
}

.footer {
    margin: 0px;
}

.footer-alignment {
         padding-top: 48px;
         padding-bottom: 48px;
    }

.footer-container {
         position: relative;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         margin-top: 16px;
         margin-bottom: 42px;
         -webkit-box-pack: justify;
         -ms-flex-pack: justify;
         justify-content: space-between;
         -ms-flex-wrap: wrap;
         flex-wrap: wrap;
         border-bottom: 0.5px solid rgba(0, 0, 0, .1);
    }

.footer-brand-wrapper {
         position: relative;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
         -ms-flex-direction: column;
         flex-direction: column;
         -webkit-box-align: center;
         -ms-flex-align: center;
         align-items: center;
    }

.footer-group {
         -webkit-box-flex: 0;
         -ms-flex: 0 24%;
         flex: 0 24%;
    }

.footer-group.last {
              -ms-flex-preferred-size: 50%;
              flex-basis: 50%;
         }

.footer-link {
         color: #848484;
         text-decoration: none;
    }

.footer-logo-sub {
         content: '';
         width: 60px;
         height: 60px;
         background-image: url('../images/P+LIPPS_logo.jpg');
         background-repeat: no-repeat;
         background-size: contain;
         position: absolute;
         right: -15px;
    }

.footer-logo {
         width: 120px;
         margin-bottom: 10px;
    }

.footer-print-kana {
         font-size: 12px;
    }

.footer-brand-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footerborder-line {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    border-bottom: 1px solid #c4c4c4;
}

.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.list.aside-link-list {
         -webkit-box-orient: horizontal;
         -webkit-box-direction: normal;
         -ms-flex-direction: row;
         flex-direction: row;
         -ms-flex-wrap: wrap;
         flex-wrap: wrap;
    }

.list-item {
         margin-top: 0px;
         margin-bottom: 0px;
         padding: 7px 8px;
         -webkit-box-orient: horizontal;
         -webkit-box-direction: normal;
         -ms-flex-direction: row;
         flex-direction: row;
         -webkit-box-pack: start;
         -ms-flex-pack: start;
         justify-content: flex-start;
         -webkit-box-align: center;
         -ms-flex-align: center;
         align-items: center;
         text-transform: uppercase;
    }

.list-item a:hover {
               color: #b5b5b5;
         }

.list-item-link {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              color: #848484;
              text-decoration: none;
         }

.list-item-wide {
              -webkit-box-flex: 0;
              -ms-flex: 0 50%;
              flex: 0 50%;
         }

.list-item.list-item-wide {
              -webkit-box-flex: 0;
              -ms-flex: 0 50%;
              flex: 0 50%;
         }

.nav-icon {
    width: 20px;
    height: 20px;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-icon.blog {
         background-image: url('../images/blog.png');
         background-size: 18px;
    }

.nav-icon.youtube {
          background-image: url('../images/yt_icon_mono_light.png');
          background-size: 22px;
    }

.nav-icon.facebook {
         background-image: url('../images/facebook.png');
         background-size: 20px;
    }

.nav-icon.twitter {
         background-image: url('../images/twitter.png');
         background-size: 21px;
    }

.nav-icon.instagram {
         background-image: url('../images/instagram.png');
         background-size: 19px;
    }

.text-block {
    margin-left: 20px;
}

.to-top-link {
    position: absolute;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    color: #e61517;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}

.to-top-link-arrow {
         width: 23px;
         margin-bottom: 4px;
    }

@media (max-width: 1050px) {
    .footerborder-line {
        margin: 19px 21px 0;
        border-bottom: 1px solid #c4c4c4;
    }
}

@media (max-width: 768px) {
        .footer-logo {
           width: 115px;
        }

        .footer-container {
             margin-top: 0;
             -webkit-box-orient: vertical;
             -webkit-box-direction: normal;
             -ms-flex-direction: column;
             flex-direction: column;
        }

        .footer-group {
             margin: 19px 21px 0;
             padding-bottom: 0;
             -webkit-box-flex: 0;
             -ms-flex: 0 auto;
             flex: 0 auto;
             border-bottom: 1px solid hsla(0, 2%, 46%, .83);
        }

             .footer-group.last {
                  border-bottom-style: none;
             }

        .footer-brand-wrapper {
             margin-right: 20px;
             margin-left: 20px;
        }

        .footer-logo-sub {
             margin-top: 15px;
             right: 0;
         }

    .list {
        width: auto;
        margin-bottom: 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

        .list.aside-link-list {
             -webkit-box-orient: vertical;
             -webkit-box-direction: normal;
             -ms-flex-direction: column;
             flex-direction: column;
        }

        .list-item {
             padding: 7px 20px;
             letter-spacing: 1px;
        }

    .footerborder-line {
        margin: 0;
        border-bottom: 0 solid #c4c4c4;
    }
}

.sns-box {
         width: 100%;
         margin-top: 20px
    }

.sns-title {
         text-align:center;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         letter-spacing: 4px;
         color: #969696;
    }

.sns-sitename {
         font-size: 24px;
         margin-right: auto;
    }

.nav-icon.twitter.timeline {
         margin: 0 5px 0 auto;
         width: 40px;
         background-size: contain;
     }

.nav-icon.youtube.timeline {
         margin: 0 5px 0 auto;
         width: 40px;
         background-size: contain;
    }

.nav-icon.instagram.timeline {
         margin: 0 5px 0 auto;
         width: 40px;
         background-size: contain;
    }

.twitter-widget {
         margin: 45px 2.5px 0;
     }

.twitter-timeline {
          width: 300px !important;
          height: 350px !important;
     }

.youtube-container {
         margin: 30px 2.5px 0;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
         -ms-flex-direction: column;
         flex-direction: column;
    }

.youtube-item {
         margin-top: 20px;
         width: 280px;
         height: 158px;
    }

.youtube-wedget {
         margin-top: 10px;
    }

.insta-container {
         margin: 45px 2.5px 0;
         display:-webkit-box;
         display:-ms-flexbox;
         display:flex;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
         -ms-flex-direction: column;
         flex-direction: column;
     }

.insta-item {
         margin: 10px auto;
         width: 169px;
         height: 169px;
         position: relative;
    }

.insta-item img {
         width: 100%;
         height: 100%;
         -o-object-fit: cover;
         object-fit: cover;
     }

.blog-list-container{
         /*background-color: var(--background);*/
    }

.blog-lists{
         margin: 0px auto;
         width: 100%;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
    }

.blog-list{
         margin:45px 9px;
         -ms-flex-preferred-size: 33%;
         flex-basis: 33%;
         text-align: center;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -ms-flex-wrap: wrap;
         flex-wrap: wrap;
         position: relative;
     }

.blog-thumbnail:hover {
         opacity: .6;
    }

.blog-list img{
         width: 100%;
         height: calc(916px * 0.33);
         -o-object-fit: cover;
         object-fit: cover;
    }

.blog-title{
         margin: 13px auto 5px;
         font-size: 0.88rem;
         letter-spacing: 0px;
    }

.blog-date{
         margin: 5px auto 0px;
         font-size: 0.8rem;
         letter-spacing: 0px;
    }

.insta-item a, .blog-list a{
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.frontpage-movie {
    margin: 50px 0;
}

@media (max-width: 1024px) {
    .youtube-item {
        width: 220px;
        height: 124px;
        margin: 20px auto 25px;
    }
}

@media (max-width: 980px) {
    .blog-list img{
        height: calc((100vw - 4rem) * 0.33);
    }
}

@media (max-width: 870px) {
    .sns-sitename {
        font-size: 19px;
    }

}

@media (max-width: 781px) {
    .sns-sitename {
        font-size: 24px;
    }
         .youtube-container {
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
              -ms-flex-direction: row;
              flex-direction: row;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;
         }
         .youtube-item {
              width: 40vw;
              height: calc(40vw * 29 / 52);
          }
        .twitter-widget {
             width: 400px;
             margin: 45px auto 0;
         }

        .twitter-timeline {
             width: 400px !important;
        }
        .insta-container {
             width: 440px;
             -webkit-box-orient: horizontal;
             -webkit-box-direction: normal;
             -ms-flex-direction: row;
             flex-direction: row;
             margin: 45px auto 0;
         }

        .insta-item {
             width: 200px;
             height: 200px;
         }
}

@media (max-width: 520px) {
        .youtube-container {
             margin: 5px -1rem 0;
         }

        .youtube-item {
             margin: 20px auto 10px;
             width: 45vw;
             height: calc(45vw * 29 / 52);
         }
        .twitter-widget {
             width: 248px;
             margin: 25px auto 0;
        }

        .twitter-timeline {
             width: 248px !important;
        }
        .insta-container {
             width: 100%;
             margin-top: 15px;
        }
        .blog-list {
             -ms-flex-preferred-size: 50%;
             flex-basis: 50%;
             margin: 15px 9px;
         }
        .blog-list img {
             height: calc(100vw * 0.45);
        }
        .blog-list:nth-child(3n) {
             display: none;
         }

    .frontpage-movie {
        margin: 25px 0;
    }
}

@media (max-width: 500px) {
         .insta-item {
              width: 150px;
              height: 150px;
         }
}

@media (max-width: 468px) {
    .blog-lists {
        margin: 0 -1rem;
        width: initial;
    }
}

@media (max-width: 400px) {
        .insta-container {
             width: initial;
             margin: 15px -1rem 0;
         }
        .insta-item {
             width: 140px;
             height: 140px;
        }
}

.tab-container {
    position: relative;
    margin: 30px auto 58px;
}

.tab-box {
    width: 300px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
}

.tab-box.detail {
         margin-top: 20px;
         max-width: 768px;
         width: 100%;
         padding: 0 10px;
    }

.tab-box.detail a:last-child {
               border-right: 1px solid #000;
           }

.tab-item {
    float: left;
    width: 100%;
    font-weight: normal;
    text-decoration: none;
    font-size: 16px;
    color : #000;
}

.tab-item.detail {
         border-left: 1px solid #000;
         font-size: 14px;
    }

.tab-top-text {
    background-color: #c4c4c4;
    border-radius: 3px;
    margin: 0 2px;
    padding: 3px 0;
    text-transform: uppercase;
}

.tab-top-text:hover {
         opacity: 0.6;
    }

.tab-top-text.selected {
         color: #fff;
         background-color: #e61517;
    }

.tab-text:hover {
         opacity: 0.6;
    }

.tab-text.selected {
         color: #e61517;
    }

.hairstyle-ranking-box {
         margin: 0 auto 0;
         max-width: 1080px;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -ms-flex-wrap: nowrap;
         flex-wrap: nowrap;
    }

.hairstyle-ranking-container {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         width: 100%;
         height: 25px;
         margin: 20px auto 0;

    }

.hairstyle-ranking-container .ranking-order {
               margin: 2px 3px 0 0 ;
               display: inline-block;
               content: '';
               width: 7px;
               height: 32px;
               background-image: url('../images/ranking.png');
               background-size: 925%;
               background-repeat: no-repeat;
               background-position: -57.75px 0;
         }

.hairstyle-ranking-common {
         margin: 2px 3px 0 auto;
         display: inline-block;
         content: '';
         width: 19.25px;
         height: 32px;

    }

.hairstyle-ranking-common.ranking-1 {
               background-image: url('../images/ranking.png');
               background-repeat: no-repeat;
               background-size: 336%;
               background-position: -38.5px 0;
         }

.hairstyle-ranking-common.ranking-2 {
               background-image: url('../images/ranking.png');
               background-repeat: no-repeat;
               background-size: 336%;
               background-position: -19.25px 0;
         }

.hairstyle-ranking-common.ranking-3 {
               background-image: url('../images/ranking.png');
               background-repeat: no-repeat;
               background-size: 336%;
               background-position: 0 0;
         }

.hairstyle-ranking-common.ranking-4, .hairstyle-ranking-common.ranking-5 {
               width: 0;
           }

.hairstyle-ranking-number {
         margin: 0 auto 0 0;
         font-size: 32px;
     }

.lipps-image-item .hairstyle-image {
          width: 200px;
          height: 267px;
          -o-object-fit: cover;
          object-fit: cover;
          margin: 0 auto;
          max-width:initial;
          /*padding: 13px 27px 14px;*/
    }

.lipps-image-item .hairstyle-name {
          margin: 15px 12px 5px;
          font-size: 12px;
    }

.lipps-image-item .hairstyle-stylist {
          font-size: 12px;
    }

.lipps-image-item .ranking-image-1 {
          width: 206px;
          height: 309px;
          margin: 0 auto;
          -o-object-fit: cover;
          object-fit: cover;
    }

.lipps-image-item .ranking-image-2 {
          width: 170px;
          height: 255px;
          margin: 0 auto;
          -o-object-fit: cover;
          object-fit: cover;
    }

.lipps-image-item .ranking-image-3 {
          width: 170px;
          height: 255px;
          margin: 0 auto;
          -o-object-fit: cover;
          object-fit: cover;
    }

.lipps-image-item .ranking-image-4 {
          width: 150px;
          height: 225px;
          margin: 0 auto;
          -o-object-fit: cover;
          object-fit: cover;
    }

.lipps-image-item .ranking-image-5 {
          width: 150px;
          height: 225px;
          margin: 0 auto;
          -o-object-fit: cover;
          object-fit: cover;
    }

.lipps-image-item.order-1 {
         -webkit-box-ordinal-group: 4;
         -ms-flex-order: 3;
         order: 3;
         width: 25%;
         margin: 10px 14px;
    }

.lipps-image-item.order-2 {
         -webkit-box-ordinal-group: 3;
         -ms-flex-order: 2;
         order: 2;
         width: 25%;
         margin: 37px 14px 10px auto;
    }

.lipps-image-item.order-3 {
         -webkit-box-ordinal-group: 5;
         -ms-flex-order: 4;
         order: 4;
         width: 25%;
         margin: 37px auto 10px 14px;
    }

.lipps-image-item.order-4 {
         -webkit-box-ordinal-group: 2;
         -ms-flex-order: 1;
         order: 1;
         width: 25%;
         margin: 52px 2px 10px auto;
    }

.lipps-image-item.order-5 {
         -webkit-box-ordinal-group: 6;
         -ms-flex-order: 5;
         order: 5;
         width: 25%;
         margin: 52px auto 10px 2px;
    }

.hairstyle-archive {
    -ms-flex-preferred-size: 23%;
    flex-basis: 23%;
}

.hairstyle-gallery-box {
         margin: 0 auto;
         width: 100%;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
    }

.hairstyle-gallery-title.first, .hairstyle-gallery-title.second{
         width: 50%;
         font-size: 24px;
         line-height: 30px;
         margin-top: 20px;
         font-weight: normal;
         text-align: center;
    }

.hairstyle-gallery-title.first {
         padding-left: 13.8px;
    }

.hairstyle-gallery-title.second{
         padding-right: 13.8px;
    }

.hairstyle-gallery-no1 {
         width: 440px;
         margin: 0 15px 0 auto;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
         -ms-flex-direction: column;
         flex-direction: column;
         text-align: center;
    }

.hairstyle-gallery-no2 {
         width: 440px;
         margin: 0 auto 0 5px;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
         -ms-flex-direction: column;
         flex-direction: column;
         text-align: center;
     }

.hairstyle-gallery-items {
         width: 440px;
         margin: 15px auto 0;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -ms-flex-wrap: wrap;
         flex-wrap: wrap;
    }

.lipps-image-item.hairstyle-gallery {
         width: 200px;
     }

.hairstyle-main-container {
         max-width: 916px;
         width: 100%;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         margin-top: 50px;
     }

.hairstyle-main-imagebox {
         margin: 0 50px 0 0;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-orient: horizontal;
         -webkit-box-direction: normal;
         -ms-flex-direction: row;
         flex-direction: row;
         overflow: hidden;
         -ms-flex-wrap: wrap;
         flex-wrap: wrap;
         margin-bottom: auto;
     }

.hairstyle-main-imagebox .hairstyle-image {
               width: 100px;
               margin: 15px 15px 0 0;
               max-width:initial;
               cursor: pointer;
           }

.model-name {
    width: calc(100% - 230px);
    color: #868686;
    font-size: 12px;
    padding-right: calc(100% - 372px);
    text-align: right;
    margin-top: 12px;
}

.hairstyle-min-imagebox {
    width: 230px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.hairstyle-main-image, .hairstyle-front-image, .hairstyle-side-image, .hairstyle-back-image {
    display: none;
    flex-basis: 100%;
}

.hairstyle-input-main, .hairstyle-input-front, .hairstyle-input-side, .hairstyle-input-back {
    display: none;
}

.hairstyle-input-main:checked ~ .hairstyle-main-image,
.hairstyle-input-front:checked ~ .hairstyle-front-image,
.hairstyle-input-side:checked ~ .hairstyle-side-image,
.hairstyle-input-back:checked ~ .hairstyle-back-image {
    display: block;
}

.hairstyle-main-image img,
.hairstyle-front-image img,
.hairstyle-side-image img,
.hairstyle-back-image img {
    width: 100%;
}

.hairstyle-input-main:checked ~ .hairstyle-min-imagebox .hairstyle-main-thumbnail,
.hairstyle-input-front:checked ~ .hairstyle-min-imagebox .hairstyle-front-thumbnail,
.hairstyle-input-side:checked ~ .hairstyle-min-imagebox .hairstyle-side-thumbnail,
.hairstyle-input-back:checked ~ .hairstyle-min-imagebox .hairstyle-back-thumbnail {
    opacity: 0.6;
}

.hairstyle-text-container {
    width: 504px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.hairstyle-title {
    font-size: 25px;
    font-weight: normal;
    margin-top: 0;
    line-height: 32px;
}

.hairstyle-title.narrow {
         display: none;
    }

.hairstyle-content {
    margin-top: 30px;
}

.styling-item-container {
    width: 100%;
    margin-bottom: 40px;
}

.styling-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
}

.product-image {
    width: 100px;
    height: 100px;
    -o-object-fit: contain;
    object-fit: contain;
}

.styling-item-title {
    margin: auto auto auto 20px;
}

.hairstyle-image-link {
    width: 100px;
    height: 100px;
    position: relative;
    margin: auto;
}

.hairstyle-stylist-container {
         width: 100%;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
     }

.hairstyle-stylist-image {
         border-radius: 50%;
         width: 100px;
         height: 100px;
         -o-object-fit: cover;
         object-fit: cover;
         -o-object-position: 50% 10%;
         object-position: 50% 10%;
     }

.hairstyle-stylist-image-container {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              width: 50%;
          }

.hairstyle-stylist-text-container {
         width: 120px;
         margin: auto;
    }

.lipps-text-link.hairstyle-stylist {
          display: block;
          margin-top: 5px;
          line-height: 15px;
          font-size: 12px;
          letter-spacing: 0;
    }

.recent-hairstyle-archive {
    -ms-flex-preferred-size: 15%;
    flex-basis: 15%;
    margin: 10px 6.3px;
    line-hairstyle-title: 25px;
}

.reservation-container {
    width: 250px;
    margin: auto;
}

.reservation-item {
    position: relative;
    height: 40px;
    margin: 10px 0;
}

.reservation-item:hover {
         opacity: 0.6;
   }

.reservation-item.reservation {
         background-color: #4f4f4f;
         color: #fff;
     }

.reservation-item.phone-call {
          border: 1px solid #e61517;
          color: #e61517;
      }

.reservation-item.coupon {
          background-color: #e61517;
          color: #fff;
      }

.reservation-item.review {
          width: 80%;
          border-radius: 20px;
          border: 1px solid #e61517;
          color: #e61517;
          margin: 10px auto;
      }

.reservation-sentence {
    letter-spacing: 0;
    font-size: 12px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.recent-hairstyle-title {
    margin-top: 58px;
    text-align: center;
    font-size: 25px;
    line-height: 25px;
}

.recent-hairstyle-subtitle {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
}

.recent-hairstyle-container {
    margin-top: 30px;
    width: 100%;
}

.nearest-hairstyle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.recent-hairstyle-image {
    width: 140px;
    height: 210px;
    margin: 0 auto;
    max-width:initial;
    -o-object-fit: cover;
    object-fit: cover;
}

.recent-hairstyle-box {
    display: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.recent-hairstyle-input {
    display: none;
}

.recent-hairstyle-item-open {
    position: relative;
    text-align: right;
    padding-right: 50px;
    cursor: pointer;
    color: #c4c4c4;
}

.recent-hairstyle-item-close {
    position: relative;
    text-align: right;
    padding-right: 50px;
    cursor: pointer;
    display: none;
    color: #c4c4c4;
}

.arrow-down {
    width: 14px;
    height: 14px;
    border: 3px solid;
    border-color: transparent transparent #e61517 #e61517;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: block;
    margin: 0;
    position: absolute;
    top: 0;
    right: 20px;
}

.arrow-up {
    width: 14px;
    height: 14px;
    border: 3px solid;
    border-color: #e61517 #e61517 transparent transparent;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: block;
    margin: 0;
    position: absolute;
    top: 6px;
    right: 20px;
}

.recent-hairstyle-input:checked ~ .recent-hairstyle-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.recent-hairstyle-input:checked ~ .recent-hairstyle-item-open {
    display: none;
}

.recent-hairstyle-input:checked ~ .recent-hairstyle-item-close {
    display: block;
}

@media (max-width: 1080px) {
        .hairstyle-ranking-box {
             max-width: 768px;
             -ms-flex-wrap: wrap;
             flex-wrap: wrap;
         }
        .lipps-image-item .ranking-image-1, .lipps-image-item .ranking-image-2 {
              width: 200px;
              height: 300px;
              margin: 0 auto;
        }

        .lipps-image-item .ranking-image-3,  .lipps-image-item .ranking-image-4,  .lipps-image-item .ranking-image-5 {
              width: 170px;
              height: 255px;
              margin: 0 auto;
        }

        .lipps-image-item.order-1 {
             -webkit-box-ordinal-group: 2;
             -ms-flex-order: 1;
             order: 1;
             margin: 10px 0 0 auto;
        }

        .lipps-image-item.order-2 {
             -webkit-box-ordinal-group: 3;
             -ms-flex-order: 2;
             order: 2;
             margin: 10px auto 0 0;
        }

        .lipps-image-item.order-1, .lipps-image-item.order-2 {
             width: 33%;
        }

        .lipps-image-item.order-3 {
             -webkit-box-ordinal-group: 4;
             -ms-flex-order: 3;
             order: 3;
             width: 30%;
             margin: 10px 0 10px 35px;
        }

        .lipps-image-item.order-4 {
             -webkit-box-ordinal-group: 5;
             -ms-flex-order: 4;
             order: 4;
             width: 30%;
             margin: 10px 0;
        }

        .lipps-image-item.order-5 {
             -webkit-box-ordinal-group: 6;
             -ms-flex-order: 5;
             order: 5;
             width: 30%;
             margin: 10px 35px 10px 0;
        }
}

@media (max-width: 980px) {
    .recent-hairstyle-container {
        width: 520px;
        margin: 30px auto 0;
    }
    .nearest-hairstyle {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .recent-hairstyle-image {
        width: 150px;
        height: 225px;
    }

    .recent-hairstyle-archive {
        margin: 10px 11.6px;
    }
}

@media (max-width: 960px) {
        .hairstyle-gallery-box {
            width: 440px;
             -webkit-box-orient: vertical;
             -webkit-box-direction: normal;
             -ms-flex-direction: column;
             flex-direction: column;
        }
        .hairstyle-gallery-no1, .hairstyle-gallery-no2 {
            margin: 0 auto;
        }
}

@media (max-width: 930px) {
    .hairstyle-text-container {
        width: 400px;
        margin-left: 20px;
    }
    .hairstyle-stylist-text-container {
        margin-left: 10px;
    }
}

@media (max-width: 900px) {
    .hairstyle-archive {
        -ms-flex-preferred-size: 46%;
        flex-basis: 46%;
    }
}

@media (max-width: 890px) {

}

@media (max-width: 860px) {
    .hairstyle-main-imagebox .hairstyle-image{
        width: 80px;
    }

    .hairstyle-min-imagebox {
        width: 190px;
    }
    .hairstyle-text-container {
        width: 400px;
        margin: auto;
    }
    .model-name {
        width: calc(100% - 190px);
        padding-right: calc(100% - 300px);
        font-size: 10px;
        letter-spacing: 0;
    }
}

@media (max-width: 810px) {
    .hairstyle-text-container {
        margin-left: 20px;
    }
}

@media (max-width: 768px) {
        .hairstyle-main-container {
             -webkit-box-orient: vertical;
             -webkit-box-direction: normal;
             -ms-flex-direction: column;
             flex-direction: column;
             margin-top: 0;
         }
        .hairstyle-main-imagebox{
             margin: auto;
         }
    .hairstyle-text-container {
        width: 500px;
        margin: auto;
    }
    .hairstyle-min-imagebox {
        width: 230px;
    }

    .hairstyle-main-imagebox .hairstyle-image {
        width: 100px;
    }

    .model-name {
        width: 142px;
        padding-right: 0;
        font-size: 12px;
        letter-spacing: 2px;
    }
        .hairstyle-title.narrow {
             display: block;
             text-align: center;
        }
        .hairstyle-title.wide {
             display: none;
        }
}

@media (max-width: 700px) {
        .lipps-image-item .ranking-image-1 {
              margin-right: 3vw;
        }

        .lipps-image-item .ranking-image-2 {
              margin-left: 3vw;
        }

        .lipps-image-item .ranking-image-1, .lipps-image-item .ranking-image-2 {
              width: 200px;
              height: 300px;
        }

        .lipps-image-item .ranking-image-3, .lipps-image-item .ranking-image-4, .lipps-image-item .ranking-image-5 {
              width: 28vw;
              height: calc(28vw * 3 / 2);
        }

        .lipps-image-item.order-1, .lipps-image-item.order-2 {
              width: 50%;
        }
        .lipps-image-item.order-3 {
              margin: 10px 0 10px 5vw;
        }

        .lipps-image-item.order-5 {
              margin: 10px 5vw 10px 0;
         }

    .tab-item.detail {
        font-size: 13px;
    }
}

@media (max-width: 580px) {
    .recent-hairstyle-container {
        width: 350px;
    }
    .hairstyle-text-container {
        width: 400px;
    }
}

@media (max-width: 500px) {
        .hairstyle-gallery-box {
             width: 100%;
         }

        .hairstyle-gallery-no1, .hairstyle-gallery-no2 {
             width: 100%;
         }
             .hairstyle-gallery-items .hairstyle-image {
                   width: 100%;
               }

    .lipps-image-item.hairstyle-gallery {
        margin: 10px auto;
    }
}

@media (max-width: 468px) {
    .hairstyle-gallery-items {
        width: calc(100% - 64px);
    }
    .tab-container {
        margin: 15px auto 50px;
    }
        .lipps-image-item .ranking-image-1 {
              margin-right: 3vw;
        }

        .lipps-image-item .ranking-image-2 {
              margin-left: 3vw;
        }

        .lipps-image-item .ranking-image-1, .lipps-image-item .ranking-image-2 {
              width: 150px;
              height: 225px;
        }

        .lipps-image-item .ranking-image-3, .lipps-image-item .ranking-image-4, .lipps-image-item .ranking-image-5 {
              width: 30vw;
              height: calc(30vw * 3 / 2);
        }

        .lipps-image-item.order-1, .lipps-image-item.order-2 {
              width: 50%;
        }

        .lipps-image-item.order-3 {
              margin-left: 4vw;
        }
              .lipps-image-item.order-3 .hairstyle-name {
                    margin: 0 0 5px;
              }

        .lipps-image-item.order-4 {
             margin-right: 1vw;
             margin-left: 1vw;
        }
             .lipps-image-item.order-4 .hairstyle-name {
                   margin: 0 0 5px;
             }

        .lipps-image-item.order-5 {
              margin-right: 4vw;
        }
              .lipps-image-item.order-5 .hairstyle-name {
                    margin: 0 0 5px;
                }

        .lipps-image-item .hairstyle-image {
              width: 100%;
              height: calc( (50vw - 32px - 9px) * 1.34 );
              margin: 0 auto;
        }
        .lipps-image-item.hairstyle-gallery {
              width: calc( 50vw - 32px - 9px);
        }

        .lipps-image-item .hairstyle-name,
        .lipps-image-item .hairsytle-stylist {
              font-size: 10px;
        }

    .hairstyle-archive {
        -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    }

    .hairstyle-text-container {
        width: 372px;
    }

    .recent-hairstyle-title,
    .recent-hairstyle-subtitle {
        font-size: 19px;
    }
}

@media (max-width: 436px) {
    .hairstyle-text-container {
        width: 100%;
        margin: auto;
    }
    .hairstyle-min-imagebox {
        width: 166px;
    }

    .hairstyle-main-imagebox .hairstyle-image {
        width: 68px;
    }

    .model-name {
        width: 90px;
        font-size: 10px;
        letter-spacing: 0px;
        white-space: nowrap;
    }
        .hairstyle-title.narrow {
             font-size: 19px;
        }

    .hairstyle-stylist-container {        -webkit-box-orient: vertical;        -webkit-box-direction: normal;        -ms-flex-direction: column;        flex-direction: column;
    }
    .hairstyle-stylist-image-container {
        margin: auto;
        width: 256px;
    }
    .reservation-container {
        width: 256px;
    }
}

@media (max-width: 414px) {
    .recent-hairstyle-container {
        width: 310px;
    }
    .recent-hairstyle-image {
        width: 140px;
        height: 210px;
    }
    .recent-hairstyle-archive {
        margin: 10px 7.5px;
    }
}

@media (max-width: 374px) {
    .recent-hairstyle-container {
        margin: 30px calc((100% - 310px) / 2) 0;
    }
}

@media (max-width: 360px) {
    .hairstyle-archive {
        -ms-flex-preferred-size: 44%;
        flex-basis: 44%;
    }
         .hairstyle-gallery-items {
              width: calc(100% - 20px);
         }
        .lipps-image-item.hairstyle-gallery {
             width: calc( 50vw - 20px);
         }
        .lipps-image-item .hairstyle-image {
              height: calc( (50vw - 20px) * 1.34 );
        }
}

@media (max-width: 342px) {
        .lipps-image-item .ranking-image-1 {
              margin-right: 1vw;
        }

        .lipps-image-item .ranking-image-2 {
              margin-left: 1vw;
        }
}

.news-container {
         background-color: #f5f5f5;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
         -ms-flex-direction: column;
         flex-direction: column;
    }

.news-articles {
         margin: 0 auto;
         max-width: 920px;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -ms-flex-wrap: wrap;
         flex-wrap: wrap;
    }

.news-articles.recent-post {
             margin: 35px auto;
         }

.news-image {
         width: 195px;
         height: 223px;
         margin: 0 auto;
         padding: 13px 25px 14px;
         -o-object-fit: contain;
         object-fit: contain;
    }

.news-title {
         margin: 40px 0;
         padding: 0 12px;
         line-height: 30px;
         font-weight: 400;
         text-align: center;
         font-size: 20px;
    }

.news-headline.title {
              font-size: 12px;
              letter-spacing: 0px;
              text-align: left;
              padding: 10px 15px 15px;
         }

.news-headline.date {
              margin-top: auto;
              color: #8c8c8c;
              font-size: 12px;
              padding: 0px 16px 10px;
              text-align: left;
         }

.news-return-link-container {
         margin: 0 auto 25px;
         width: 100%;
         max-width: 940px;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
    }

.news-return-link {
         color: #8c8c8c;
         text-decoration: none;
         padding: 0 40px;

    }

.news-return-link:hover {
              opacity: 0.6;
         }

.news-return-link.left {
              margin-right: auto;
              text-align: left;
         }

.news-return-link.right {
              margin-left: auto;
              text-align: right;
              padding: 0;
              font-size: 14px;
         }

.news-content p {
         max-width: 520px;
         margin: 0 auto;
    }

.lipps-image-item.news-headline {
    background-color: #fff;
    -ms-flex-preferred-size: 23%;
    flex-basis: 23%;
}

@media (max-width: 960px) {
        .news-articles {
             max-width: 560px;
         }

         .news-return-link.right {
              padding: 0 40px 25px;
          }

    .lipps-image-item.news-headline {
        -ms-flex-preferred-size: 38%;
        flex-basis: 38%;
        margin: 10px auto;
    }
}

@media (max-width: 767px) {
        .news-title {
             padding: 0 25px;
         }

        .news-content p {
             max-width: 470px;
             padding: 0 30px;
         }

        .news-content a {
             overflow-wrap: break-word;
         }
    .lipps-image-item.news-headline.recent-posts:nth-child(3), .lipps-image-item.news-headline.recent-posts:nth-child(4)  {
        display: none;
    }
}

@media (max-width: 600px) {
        .news-articles {
             width: calc(100vw - 64px);
         }

        .news-return-link {
             padding: 0 20px;
        }

             .news-return-link.right {
                  padding: 0 20px;
              }

    .lipps-image-item.news-headline {
        -ms-flex-preferred-size: 44%;
        flex-basis: 44%;
    }
}

@media (max-width: 465px) {
        .news-articles {
             width: calc(100vw - 20px);
        }
             .news-articles.recent-post {
                  margin: 20px auto;
             }

        .news-image {
             width: 100%;
             height: 200px;
             padding: 8px 8px 0;
         }
}

.lipps-archive-box.staff {
         max-width: 980px;
    }

.staff-container {
         max-width: 916px;
         width: 100%;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         margin-top: 50px;
    }

.staff-main-image {
         width: 372px;
         height: 559px;
         -o-object-fit: cover;
         object-fit: cover;
     }

.staff-main-imagebox {
              width: 412px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
              -ms-flex-direction: row;
              flex-direction: row;
              overflow: hidden;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;
              margin-bottom: auto;
          }

.staff-main-imagebox.narrow {
                   display: none;
               }

.staff-main-image-underbox {
         width: 372px;
         margin-left: 0;
    }

.staff-main-image-underbox .sns-box {
               margin-top: 75px;
           }

.staff-main-image-underbox .twitter-widget {
               margin: 25px auto 0 36px;
           }

.staff-calendar {
         margin: 40px 30px 0;
     }

.staff-text-container {
         width: 504px;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
         -ms-flex-direction: column;
         flex-direction: column;
     }

.staff-tab-container {
         margin: 30px auto 0;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -ms-flex-wrap: wrap;
         flex-wrap: wrap;
         max-width: 980px;
    }

.staff-archive {
         -ms-flex-preferred-size: 15.5%;
         flex-basis: 15.5%;
         margin: 10px 5.3px;
    }

.staff-category {
         margin: 40px;
         text-align: center;
         font-size: 28px;
         color: #969696;
         text-transform: uppercase;
    }

.staff-salon-tab-item {
         cursor: pointer;
         width: 190px;
         font-size: 12px;
         margin-left: 45px;
         white-space: nowrap;
         font-weight: normal;
    }

.staff-salon-tab-item:hover {
              opacity: 0.6;
         }

.staff-name {
         margin: 10px 12px 2px;
         font-size: 12px;
    }

.staff-name-detail {
              font-size: 25px;
          }

.staff-position {
         font-size: 10px;
         margin: 0;
         letter-spacing: 0;
    }

.staff-position-detail {
              margin-top: 30px;
              font-size: 16px;
         }

.staff-position-detail-link {
                   text-decoration: none;
                   color: #4f4f4f;
               }

.staff-personal-info, .staff-hobby {
         margin-top: 20px;
         font-size: 16px;
     }

.staff-intro {
         margin-top: 35px;
     }

.staff-sns-container {
         width: 372px;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         margin-top: 20px;
         -webkit-box-pack: center;
         -ms-flex-pack: center;
         justify-content: center;
    }

.staff-sns {
         width: 50%;
         height: 25px;
         margin: 0 5px;
         border-radius: 20px;
         text-align: center;
         position: relative;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
    }

.staff-sns.twitter {
              background-color: #1da1f2;
         }

.staff-sns.instagram {
              background-color: #405de6;
         }

.staff-sns-title {
              color: #fff;
              line-height: 25px;
              font-size: 12px;
              margin-right: auto;
         }

.staff-twitter-svg {
         width: 12px;
         height: 12px;
         color: #fff;
         margin: 6px 12px 6px auto;
    }

.staff-instagram-svg {
         width: 12px;
         height: 12px;
         color: #fff;
         margin: 6px 12px 6px auto;
     }

.monthly-message-heading {
         margin-top: 40px;
         font-size: 16px;
     }

.monthly-message-box {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
      }

.monthly-image {
         width: 100%;
     }

.monthly-comment {
          margin-top: 15px;
     }

.lipps-image-item .staff-image {
          width: 100%;
          height: 215px;
          margin: 0 auto;
          max-width: initial;
    }

input[name="staff-tab"] {
    display:none;
}

.tab-content {
    display: none;
    width: 920px;
}

.review-windows {
         display: none;
         width: 100vw;
         height: 100vh;
         position: fixed; /*ラッパーの左上隅を画面左上に固定*/
         top: 0;
         left: 0;
         z-index:9999;
    }

.review-background {
         width: 100%; /*ラッパー全体を覆うようにする*/
         height: 100%;
         background-color: rgba(0, 0, 0, 0.6); /*半透明の黒*/
    }

.review-container {
         width: 500px;
         height: 800px;
         position: absolute;
         top: calc(50% - 400px);
         left: calc(50% - 250px);
         background-color: #fff;
    }

.review-loading {
         display: block;
         position: absolute;
         top: calc(50% - 16px);
         left: calc(50% - 16px);
    }

.review-iframe {
         display: none;
         width: 500px;
         height: 800px;
    }

.popup-body{
    width: 50%;
    height: 50%;
    position: absolute;
    top:25%;
    left:25%;
    background-color: white;
}

@media (max-width: 950px) {
        .staff-tab-container {
             width: 768px;
         }
        .staff-archive {
             -ms-flex-preferred-size:18.6%;
             flex-basis:18.6%;
         }
         .staff-text-container {
              margin-left: 20px;
          }
}

@media (max-width: 900px) {
        .staff-container {
             max-width: 520px;
             margin: 30px auto 0;
             -webkit-box-orient: vertical;
             -webkit-box-direction: normal;
             -ms-flex-direction: column;
             flex-direction: column;
         }
        .staff-main-image.wide {
             display: none;
         }
        .staff-main-imagebox.narrow {
             display: -webkit-box;
             display: -ms-flexbox;
             display: flex;
             width: 100%;
             -webkit-box-ordinal-group: 2;
             -ms-flex-order: 1;
             order: 1;
         }
        .staff-main-imagebox {
             -webkit-box-ordinal-group: 4;
             -ms-flex-order: 3;
             order: 3;
             margin: 0 auto;
         }
        .staff-main-image {
             width: 300px;
             height: 451px;
        }

             .staff-main-image-underbox {
                  width: 100%;
              }
        .staff-calendar {
             margin: 40px 50px 0;
         }

        .staff-text-container {
             -webkit-box-ordinal-group: 3;
             -ms-flex-order: 2;
             order: 2;
             margin: 10px 0;
         }

             .staff-text-container.narrow {
                  width: 200px;
                  margin-left: 20px;
              }
        .staff-name-detail.wide, .staff-position-detail.wide, .staff-personal-info.wide, .staff-hobby.wide {
             display: none;
         }

        .staff-intro {
             margin-top: 15px;
         }
        .staff-main-image-underbox .twitter-widget {
             margin: 25px auto 0;
             width: initial;
        }
        .staff-main-image-underbox .sns-box {
             width: 320px;
             margin: 55px auto;
         }
        .staff-sns-container {
             width: 100%;
        }
}

@media (max-width: 768px) {
        .staff-salon-tab-item {
             margin-left: 85px;
         }

        .staff-tab-container {
             width: 613px;
         }

        .staff-archive {
             -ms-flex-preferred-size: 23.1%;
             flex-basis: 23.1%;
         }
}

@media (max-width: 610px) {
        .staff-tab-container {
             width: 460px;
         }

        .staff-salon-tab-item {
             margin-left: 40px;
        }

        .staff-archive {
             -ms-flex-preferred-size: 31%;
             flex-basis: 31%;
         }
}

@media (max-width: 590px) {
        .staff-main-imagebox.narrow {
             -webkit-box-orient: vertical;
             -webkit-box-direction: normal;
             -ms-flex-direction: column;
             flex-direction: column;
         }
        .staff-text-container.narrow {
              margin-left: 0;
              margin-top: 15px;
              width: 100%;
          }
        .staff-main-image {
              margin: 0 auto;
        }
              .staff-main-imagebox {
                   margin: 0 auto;
               }

                   .staff-main-imagebox.narrow {
                         margin: 0;
                   }
        .staff-text-container {
             width: 100%;
             padding: 1rem;
        }
}

@media (max-width: 520px) {
    .staff-main-image-underbox .twitter-widget {
        width: 240px;
    }
}

@media (max-width: 500px) {
    .review-container {
        width: 400px;
        left: calc(50% - 200px);
    }
    .review-iframe {
        width: 400px;
    }
}

@media (max-width: 476px) {
        .staff-main-imagebox {
             width: 100%;
        }
        .staff-calendar {
             margin: 40px calc((100% - 320px) / 2) 0;
        }
}

@media (max-width: 468px) {
        .staff-salon-tab-item {
             margin-left: 35px;
             font-size:10px;
             width: 100px;
             white-space: normal;
             line-height: 15px;
         }
        .staff-tab-container {
             width: 300px;
        }
        .staff-archive {
             -ms-flex-preferred-size: 45%;
             flex-basis: 45%;
        }
}

@media (max-width: 400px) {
    .review-container {
        width: 300px;
        left: calc(50% - 150px);
    }
    .review-iframe {
        width: 300px;
    }
}

@media (max-width: 376px) {
        .staff-main-image {
            height: calc( (100vw - 64px) * 3 / 2)
        }
        .staff-main-imagebox {
             margin: 0 calc((100% - 320px) / 2);
             width: 320px;
        }
        .staff-calendar {
             margin: 40px calc((320px - 100%) / 2) 0;
        }
}

.salon-archive {
         -ms-flex-preferred-size: 23%;
         flex-basis: 23%;
    }

.salon.salon-link {
         text-decoration: none;
    }

.lipps-image-item .salon-image {
          width: 210px;
          height: 128px;
          margin: 0 auto;
          -o-object-fit: cover;
          object-fit: cover;
    }

.lipps-image-item .salon-headline {
        /*&.name {*/
        /*     width: 100%;*/
        /*     top: 50%;*/
        /*     left: 50%;*/
        /*     transform: translate(-50%, -100%);*/
        /*     margin: auto;*/
        /*     position: absolute;*/
        /*     color: #fff;*/
        /*     font-size: 11px;*/
        /*     z-index: 10;*/
    }

/*}*/

.lipps-image-item .salon-headline.name {
             width: 100%;
             position: absolute;
             top: calc(50% - 9px);
             left: 50%;
             -webkit-transform: translate(-50%, 0);
             transform: translate(-50%, 0);
             margin: auto;
             color: #fff;
             font-size: 18px;
             z-index: 10;
        }

.lipps-image-item .salon-black-filter {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          background: #000;
          opacity: 0.3;
          z-index: 5;
    }

@media (max-width: 965px) {
    .lipps-archive-box.salon {
        max-width : 768px;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
        .salon-archive {
             -ms-flex-preferred-size: 30%;
             flex-basis: 30%;
             margin: 10px 12.8px;
         }
        .lipps-image-item .salon-image {
              width: 230.39px;
              height: 140.43px;
          }
}

@media (max-width: 835px) {
    .lipps-archive-box.salon {
        max-width : 520px;
    }
        .salon-archive {
             -ms-flex-preferred-size: 44%;
             flex-basis: 44%;
             margin: 10px 15.6px;
         }
}

@media (max-width: 585px) {
        article .lipps-image-item .salon-image {
              width: calc(50vw - 32px - 20px);
              height: calc((50vw - 32px - 20px) * 140.43 / 230.39);
        }
        .lipps-image-item .salon-image {
              width: calc(50vw - 20px);
              height: calc((50vw - 20px) * 140.43 / 230.39);
          }
        .salon-archive {
             margin: 10px auto;
        }
}

@media (max-width: 540px) {
    article .lipps-archive-box.salon {
        /*margin: 0 -32px;*/
    }
        article .lipps-image-item .salon-image {
              width: calc(50vw - 20px);
              height: calc((50vw - 20px) * 140.43 / 230.39);
          }
    .salon-headline.name {
        font-size: 15px;
    }
}

@media (max-width: 450px) {
        .lipps-image-item .salon-headline.name {
              font-size: 12px;
          }
}

.wp-block-columns.sns-timeline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.sns-timeline .wp-block-column:not(:first-child) {
    border-left: 1px solid #c4c4c4;
    padding-left: 32px;
}

.wp-block-columns.two-to-one {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     max-width: 980px;
     margin: 0 auto;
}

.wp-block-column.two-to-one-left {
    -ms-flex-preferred-size: 68.5%;
    flex-basis: 68.5%;
}

.wp-block-column.two-to-one-right {
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
}

.two-to-one .wp-block-column:not(:first-child) {
    border-left: 1px solid #c4c4c4;
    padding-left: 32px;
}

.wp-block-columns.two-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 980px;
    margin: 0 auto;
}

@media (max-width: 781px) {
    .wp-block-columns.sns-timeline {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .sns-timeline .wp-block-column:not(:first-child) {
        border-left: 0 solid #c4c4c4;
        padding-left: 0;
        margin-left: 0;
    }
    .two-to-one .wp-block-column:not(:first-child) {
        border-left: 0px solid #c4c4c4;
        padding-left: 0px;
        margin-left: 0;
    }

    .wp-block-columns.two-to-one {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media (max-width: 520px) {
    .wp-block-columns {
        width: 100%;
    }
}

.search-hairstyles.detail {
    position: absolute;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .search-hairstyles {
        margin-left: calc(50vw - 768px / 2);
    }    
}

.search-hairstyles:focus-within,
.search-hairstyles.inputed {
    position: relative;
    margin-left: auto;
}

.search-hairstyles form {
    display: flex;
    justify-content: center;
}

.search-hairstyles:focus-within form,
.search-hairstyles.inputed form {
    width: 100%;
    justify-content: center;
}

.search-hairstyles input[type=text] {
    -webkit-appearance: none;
	width: 40px;
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    font-size: 1rem;
    padding-left: 0;
    border-radius: 0;
}

.search-hairstyles input[type=submit] {
    -webkit-appearance: none;
    width: 40px;
    border: 0;
    outline: 0;
    background: url('../images/lens.png');
    border-radius: 0;
    background-size: 18px auto;
    background-position: center;
    background-repeat: no-repeat;
}

.search-hairstyles:focus-within input[type=text],
.search-hairstyles.inputed input[type=text] {
    flex-grow: 1;
    font-size: 1.2rem;
    border-bottom: 1px solid #b5bcc2;
}

.search-hairstyles:focus-within input[type=submit],
.search-hairstyles.inputed input[type=submit] {
    border: 0;
    border-bottom: 1px solid #b5bcc2;
    background-size: 25px auto;
}